body {
	font-family:Verdana,Arial,Tahoma,Helvetica,;
	background-color:#C4E1FF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.attbody {
	font-family:Verdana,Arial,Tahoma,Helvetica,;
	background-color:#F2FAED;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.centerBody {
	text-align:center;
}
.leftBody {
	text-align:left;
}
.rightBody {
	text-align:right;
}
.winTitle {
	color: #FFFFFF;
	background-color: #6699FF;
	font-size:14pt;
	line-height: 150%; font-family:標楷體
}

.input_box_03 			{width:25px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_05 			{width:40px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_07 			{width:60px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_10 			{width:80px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_15 			{width:120px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_20 			{width:150px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_25 			{width:175px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_30 			{width:200px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}	
.input_box_35 			{width:220px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}	
.input_box_50 			{width:370px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}		
.input_box_60 			{width:450px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}	
.input_box_70 			{width:520px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}	
.input_box_amt 			{width:100px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2; text-align: right;}
.input_box_adal_01 			{width:75px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
.input_box_ReadOnly1 		{width:20;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly4 		{width:40;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly10 		{width:80;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly15 		{width:120;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly20 		{width:150;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly25 		{width:175;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly30 		{width:200;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly35 		{width:220;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly50 		{width:370;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly60 		{width:450;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_ReadOnly70 		{width:520;color:#666666;font-size: 9pt;BACKGROUND-COLOR: #FFFFFF; border-style: groove; border-width: 2;}
.input_box_35PX 			{width:220px;font-size: 9pt;BACKGROUND-COLOR: #ffffff; border-style: groove; border-width: 2;}
	
.tblBody {
    border:1px solid #CCCCFF; font-size: 9pt;line-height: 120%
}
	
.tblTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #1E90FF;
	line-height: 12pt;
}

.tblTitle2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066FF;
	line-height: 12pt
}

.tblTitle3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #009966;
	line-height: 12pt;
}
    
.tr0 {
	background-color: #F0F8FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
}

.tr1 {
	background-color: #FFFFE8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
}

.sysWord {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt; 
}

.redWord {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt; 
	color: #CC0000;
}

.alignRight
{
	text-align:right;
	white-space:nowrap;
	}
	
.MustField {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt; color:#0000FF
}

.openFont {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt; color:#ffff99
}

.resultTblTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A6C2FF;
	line-height: 12pt;
}

.resultTblSortTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFF00;
	background-color: #A6C2FF;
	line-height: 12pt;
	text-decoration: none;
}

.resultTblTitleJr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A6C2FF;
	line-height: 12pt;
}

.funcTitle {
	line-height: 100%;font-family: "細明體";
	font-size: 14pt;
	font-weight: bold;
	color: #FF0000;
}

.redBold {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #FF0000;
}
.redText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;	
	color: #FF0000;
}

.MustFieldJr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	color: #FFFF99;
	background-color: #0066FF;
	cursor: pointer;
	cursor: hand
}

.button_disable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	color: #FFFFFF;
	background-color: #929e9e;
	cursor: pointer;
	cursor: hand;
}

.trWhite {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
}

.trWhiteJr {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.plainText {
	background-color: #e6eeff;
	border: 0px;
}

.trBlue {
	background-color: #E1F0E2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	text-align:left;
}

.plainTextWhite {
	border: 0px;
}

.bluePlainText {
    color: #0000FF;
	background-color: #e6eeff;
	border: 0px;
}

.bluePlainTextWhite {
    color: #0000FF;
	border: 0px;
}

.buttonBGColor {
	background-color: #009194;
}

.buttonTb {
	width: 100px;
	border: 0px;
	margin:= 0px;
	padding:= 0px;
}

.SynnexButton {
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	HEIGHT: 19px;
	color: #FF0000;
	background-color: #0066FF;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	cursor: hand;
	border-left: 0px;
}

.sysTitle {
	color: #FF0000;
	font-weight: bold;
	font-size:12pt;
	line-height: 150%;
	color: #FF0000;
}

.ReadOnlyFieldValue {
	font-size: 9pt;
	color: #666666;
}

.LRspace
{
    height: 23px;
}

.DisabledField {
	font-size: 9pt;
	color: #666666;
	background-color: #666666;
}
.data-text {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt;
	text-align:center;
	border:solid 1px ;
}
.adal_first {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	text-align:left;
	background-color: #FFFFA6;
}
.adal_second {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	text-align:left;
	background-color: #D0FFDF;
}
.adal_third{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	text-align:left;
	background-color: #FFFFE8;
}
.sysWord {
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt; 
}
.ReadOnlyFieldValue {
	font-size: 9pt;
	color: #666666;
}
.tdRed {
	background-color: #FF3511;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.tdPurple {
	background-color: #9999CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.tdYellow {
	background-color: #FFFF00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.tdGreen {
	background-color: #66CC33;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.tdBlue {
	background-color: #99CCFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.tdGray {
	background-color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.tdPurple{
        background-color: #9999FF;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
}

.td8pt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.tdtitle{
	 color:black;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 8pt;
}
.blackWord{
	font-family: Verdana;
	font-size: 9pt;
	line-height: 12pt;
}

